<div>
  <h4>Custom $watcher listener</h4>
  <strong>ng-change</strong> <br />
  a = <input ng-model="a" ng-change="changeA()" />
  {{a}} <br />
  {{resultA}}
  <hr>
  <strong>reference $watch</strong> <br />
  <button ng-click="changeB()">click to change B programmatically</button> <br />
  <span>(open dev tool console log to see value change)</span> <br />
  {{resultB}}
  <hr>
  <strong>reference $watchGroup</strong> <br />
  <button ng-click="changeY()">click to change Y programmatically</button> <br />
  <span>(open dev tool console log to see value change)</span> <br />
  {{resultXYZ}}
  <hr>
  <strong>equality $watch</strong> <br />
  <button ng-click="changeAAref()">click to change AA object programmatically</button> <br />
  <span>(open dev tool console log to see value change)</span> <br />
  {{resultAA}}
  <hr>
</div>
